/* ========Components========== */

:root {
  --primary-font: 'Roboto', sans-serif;;
  --secondary-font: 'Raleway', sans-serif;
  --primary-font-color: #212121;
  --accent-color: #2196f3;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  text-decoration: none;
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-studio {
  color: #000000;
}

.logo-studio-white{
  color: #FFFFFF;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-font-color);
}
/* =========/Components========= */

/* =========Header */

.navigation {
 background-color: #FFFFFF;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-font);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.menu-link:visited {
  color: ;
}

.contact-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-color);
}

.contact-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.contact-phone:hover,
.contact-phone:focus,
.contact-phone:active {
  color: var(--accent-color);
}

/* ========/Header======== */

/* ================Main*/

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background-color: #188ce8;
  cursor: pointer;
}

.modal-btn:active {
  background-color: #188ce8;
}

/* Hover focus для кнопки? */

/* ===========Section benefits */

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ===========/Section Benefits============ */

/* ===================Section About us */
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* =============/Section About us========= */

/* ==============Section Our team */

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

/* =============/Section Our team=========== */
/* ==========/Main========== */

/* ==========Footer */

.footer {
  background-color: #2F303A;
}

.address {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address:hover,
.address:focus {
  color: #188ce8;
  background-color: #2F303A;
}

.footer-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
}

.footer-phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
}

.footer-phone:hover,
.footer-phone:focus,
.footer-phone:active {
  color: var(--accent-color);
}

.footer-mail:hover,
.footer-mail:focus,
.footer-mail:active {
  color: var(--accent-color);
}
/* =======/Footer======== */

/* ===========Page 2 (Portfolio) */

.filter-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-subtitle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
